#adminForm {
	margin: 0 0 0 0 !important;
}

/* Columns*/
.ph-image {
	text-align:center;
	width: 10%;
}
.ph-title {
	width: 60%;
}

.ph-title-stat {
	width: 10%;
}
.ph-filename-stat {
	width: 50%;
}

.ph-map {
	width: 20%;
}

.ph-title-short {
	width: 30%;
}
.ph-filename-long {
	width: 50%;
}
.ph-count {
	width: 5%;
}

.ph-page {
	width: 5%;
}

.ph-functions,
.ph-id,
.ph-check,
.ph-ordering {
	width: 1%;
}

.ph-plugincode-td {
color: #999;
}

.ph-right {
	text-align: right !important;
}
.ph-center {
	text-align: center !important;
}

.ph-uploaduser {
	width: 7%;
	white-space: nowrap;
}
.ph-owner,
.ph-rating,
.ph-hits,
.ph-language,
.ph-published,
.ph-approved {
	width: 5%;
}
.ph-user,
.ph-parentcattitle {
	width: 15%;
}
.ph-filename,
.ph-access {
	width: 10%;
}


.ph-multiple-table tr td.ph-img-table {
	text-align: center;
	padding-top: 4px;
}
.ph-icon {
	margin: 0;
	padding: 5px;
	float: left;
	margin: 0 auto;
	text-align: center;
}
.ph-icon-inside.thumbnail {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 0px;  
    border-radius: 0px;
	background: #fdfdfd;
}
.ph-icon-inside.thumbnail img {
	margin-top: 10px;
	margin-bottom: -12px;
}
.ph-icon-inside.thumbnail span {
}

.ph-head-form-small,
.ph-head-form {
	font-weight: bold;
}
.ph-head-form {
		margin-bottom: 10px;
}
.ph-in {
	padding: 5px;
}

.ph-w80 {
	width: 80%;
}
.dl-horizontal.ph-input dt {
	float: left;
	clear: left;
	margin-right: 20px;
	text-align: left;
	width: auto;
}
.dl-horizontal.ph-input dd{
}

.ph-cpanel-left {
	float: left;
	width: 50%;
}
.ph-cpanel-right {
	float: right;
	width: 50%;
}

#configTabs li a img {
	margin-top: -3px;
}

.ph-head-form-small,
.ph-head-form {
	font-weight: bold;
}
.ph-head-form {
		margin-bottom: 10px;
}
.ph-in {
	padding: 5px;
}

.ph-w80 {
	width: 80%;
}
.dl-horizontal.ph-input dt {
	float: left;
	clear: left;
	margin-right: 20px;
	text-align: left;
	width: auto;
}
.dl-horizontal.ph-input dd{
}

div.icon-48-info {
	background: url('../../images/icon-48-info.png') no-repeat left;
}
div.icon-48-phoca {
	background: url('../../images/icon-48-phoca.png') no-repeat left;
}
div.icon-48-phocamaps {
	background: url('../../images/icon-48-phocamaps.png') no-repeat left;
}
div.icon-48-maps {
	background: url('../../images/icon-48-map.png') no-repeat left;
}
div.icon-48-markers {
	background: url('../../images/icon-48-marker.png') no-repeat left;
}

div.icon-48-icons {
	background: url('../../images/icon-48-icon.png') no-repeat left;
}







a img, img {border:0px;text-decoration:none;}

.p-noscript {
	text-align:	center;
	background:	#ffcc00;
	padding:	10px;
}

#phocamaps .p-add-address {
	margin-top: 10px;
}

.license {
	text-align:justify;
	font-size: 9px;
}

.phoca-adminform {
	background-color: #fff;
	border: solid 1px #d5d5d5;
	padding:10px;
}

/*form*/
input.pmreadonly {
	background: #f0f0ee;
	color: #777;
}

input.pmreadonly:focus,
input.pmreadonly:hover
	{
	background: #f0f0ee;
	color: #777;
}

.p-add-address {
	margin-top: 10px;
}

#pg-update {
	margin-top:25px;
	margin-bottom: 15px;
}
#pg-install a,
#pg-upgrade a,
#pg-update a {
	display: 			inline-block; 
	padding:			15px 30px 15px 50px;
	font-size: 			23px;   
	text-decoration: 	none;
	box-shadow: 		0 1px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 	0 1px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
	border-radius: 			5px;
	-moz-border-radius: 	5px; 
	-webkit-border-radius: 	5px;
	border-bottom: 		1px solid rgba(0,0,0,0.25);
	position: 			relative;
	cursor: 			pointer;
	text-shadow: 		0 -1px 1px rgba(0,0,0,0.25);
	font-weight: 		bold;
	color: 				#fff;
	background-color: 	#6699cc;
}
#pg-install a:hover,
#pg-upgrade a:hover,
#pg-update a:hover {
	background-color: 	#4080BF;
}
#pg-install a {
	width: 6em;
	background: 		url('../../images/btn.png') repeat-x, url('../../images/bg-install.png') 10px center no-repeat #6699cc;
}
#pg-install a:hover {
	width: 6em;
	background: 		url('../../images/btn.png') repeat-x, url('../../images/bg-install.png') 10px center no-repeat #4080BF;
}
#pg-update a {
	display: block;
	width: 10em;
	background: 		url('../../images/btn.png') repeat-x, url('../../images/bg-upgrade.png') 10px center no-repeat #6699cc;
}
#pg-update a:hover {
	display: block;
	width: 10em;
	background: 		url('../../images/btn.png') repeat-x, url('../../images/bg-upgrade.png') 10px center no-repeat #4080BF;
}
#pg-upgrade a {
	width: 6em;
	background: 		url('../../images/btn.png') repeat-x, url('../../images/bg-upgrade.png') 10px center no-repeat #6699cc;
}
#pg-upgrade a:hover {
	width: 6em;
	background: 		url('../../images/btn.png') repeat-x, url('../../images/bg-upgrade.png') 10px center no-repeat #4080BF;
}

.phoca-adminform {
	background-color: #fff;
	border: solid 1px #d5d5d5;
	padding:10px;
	color: #777;
}
.cpanel-right {
	color: #777;
}

#phocamaps img {
  max-width: none;
}

.ph-btn-toolbar-2 {
	clear: right;
	padding-top: 10px;
}
.ph-select-status {
	padding-left: 5px;
}

.ph-info-modal {
	float: left;
}
.ph-msg-success {
	color: #fff;
	background-color: #28A745;
	padding: 5px;
}

.ph-cpanel-logo img {
	transform: scale(0.6);
	transform-origin: 0 50%;
}
